.categoryCheckboxGroup{
    width: 100%;
    border: 1px solid #c3c3c3;
    float: left;
    text-align: left;
    padding: 12px;
    margin: 15px 0px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    input {
        margin-left: 10px;
    
    }
}