.teamArea{
    background-color: aliceblue;
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border-radius: 10px;
    button{
        padding: 40px 20px;
        border: 0px;
        &:hover{
            background-color: #c3c3c3;
            color: black;
            font-weight: 500;
        }
    }
    hr{
        width: 2px;
        background-color: #c3c3c3;
        &:last-child{
            background-color: transparent;
        }
    }

   
}

.user-detail, .roles, .achievements{
    background-color: rgb(236, 236, 236);
}

.roles {
    height: 50px;
    padding-top: 10px;
    padding-left: 0px;
}